body {
  overflow: hidden;
}
main {
  width: 46vw;

  margin: auto;
  /* position: absolute; */
  top: 50%;
  /* left: 50%; */
  transform: translate(0, 25%);
}

#heading {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;

  margin: 0 0 0.3rem 0;

  display: inline;
}

#art_style {
  width: 9vw;

  font-size: 1.6rem;
  font-family: "Reboto", sans-serif;
  font-weight: 400;

  margin-top: 0.7rem;

  padding: 0.4rem 0;
  padding-left: 1.6rem;
  padding-right: 0.9rem;

  border: 1px solid black;
  border-radius: 30px;

  appearance: none;
  background-image: url("../images/arrow-icon.svg");
  background-repeat: no-repeat;
  background-origin: content-box, padding-box;
  background-position: center right;

  float: right;
}

.main_frame {
  height: 55vh;

  display: flex;

  /* border: 3px solid black;
    border-radius: 30px; */

  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%); */
}

.characteristics {
  width: 46%;
  height: 100%;

  margin-right: 0.5rem;

  /* border: 3px solid black;
    border-radius: 30px; */

  display: flex;
}

.cha_categories {
  width: 25%;
  height: 100%;

  border: solid black;
  border-width: 1px 0 1px 1px;
  border-radius: 30px 0 0 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;
}

.category {
  width: 80%;

  margin-top: 0.5rem;

  background-color: white;

  border: 1px solid black;
  border-radius: 20px;

  position: relative;

  box-sizing: border-box;

  padding: 0;

  transition: 200ms;
}

.category:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.category:hover {
  background-color: rgba(100, 100, 100, 0.07);
}

.category_name {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  margin: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category_options_box {
  width: 75%;

  padding: 0.4rem;

  border: 1px solid black;
  border-radius: 0 30px 30px 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.4rem;

  box-sizing: border-box;

  overflow: auto;
}

.category_option {
  border: 1px solid black;
  border-radius: 30px;

  position: relative;

  transition: 200ms;
}

.category_option:after {
  content: "";

  padding-bottom: 100%;

  display: block;
}

.category_option:hover {
  background-color: rgba(200, 0, 110, 0.15);
}

.category_option > img {
  width: 88%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  position: absolute;
}

.avatar_view {
  width: 54%;
  height: 100%;

  border: 1px solid black;
  border-radius: 30px;

  display: inline-flex;
  justify-content: center;

  position: relative;
}

.avatar_view > img {
  height: 100%;

  position: absolute;
}

.avatar_view > img#hair {
  z-index: 2;
}

.avatar_view > img#eyes {
  z-index: 1;
}

.save_button {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: black;

  margin: 1rem 4.3vw 0 0;
  padding: 0.5rem 1.3rem;

  display: inline;

  float: right;

  text-align: center;

  background-color: #e1ff68;

  border: 1px solid black;
  border-radius: 25px;

  text-decoration: none;

  transition: 200ms;
}

.save_button:hover {
  background-color: #a8c535;

  cursor: pointer;
}

#blanket {
  height: 100%;
  width: 100%;

  position: absolute;

  top: 0;
  left: 0;

  background-color: #ffff;

  z-index: -1;
}
