.second_body {
    width: 46vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

#heading {
    font-size: 3rem;

    margin: 0  0 0.3rem 0;
}

.main_frame {
    width: 100%;
    height: 55vh;

    display: flex;

    /* border: 3px solid black;
    border-radius: 30px; */

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%); */
}

.characteristics {
    width: 47%;
    height: 100%;

    margin-right: 0.5rem;

    /* border: 3px solid black;
    border-radius: 30px; */

    
    display: flex;
}

.cha_categories {
    width: 25%;
    height: 100%; 
    
    
    border: solid black;
    border-width: 1px 0 1px 1px;
    border-radius: 30px 0 0 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;
}

.category {
    width: 80%;

    margin-top: 0.5rem;

    border: 1px solid black;
    border-radius: 20px;

    position: relative;
}

.category:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.category_name {
    font-size: 1.4rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

.category_options {
    width: 75%;
    height: 100%;

    border: 1px solid black;
    border-radius: 0 30px 30px 0;
}

.avatar_view {
    width: 53%;
    height: 100%;

    border: 1px solid black;
    border-radius: 30px;

    display: inline;
}